@page "/credit"
@using Blazor_Transaction_App.Models

@inject ICreditService CreditService
@inject IJSRuntime JsRuntime
<h3>Credit Amount</h3>

@if(trans!=null)
{
    <EditForm Model="trans">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label for="description">Description</label>
            <InputTextArea id="desc" @bind-Value="trans.Description" class="form-control"></InputTextArea> 
        </div>
        <div class="form-group">
            <label for="credit">Credit Amount</label>
            <InputNumber id="credit" @bind-Value="trans.Credit" class="form-control"></InputNumber>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @onclick="OnValidSubmit">Add Amount</button>
        </div>
    </EditForm>
}



@code {
    private TransactionModel? trans;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        trans = new TransactionModel();
    }

    private async Task OnValidSubmit()
    {
        if(trans!=null && trans.Credit>0)
        {
            await CreditService.CreditAmount(this.trans);
            OnInitialized();
            await JsRuntime.InvokeVoidAsync("alert", "The amount has been credited in your account successfully.");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Enter credit amount more than 0."); 
        }
    }
}
